<button type="button" class="btn btn-default btn-block show_filter_panel_btn" data-toggle="collapse" data-target="#<%=target%>">
	<%=button_title%>
</button>
<div id="<%=target%>" class="collapse filter_panel">
	<div class="panel panel-default filter-panel">
		<div class="panel-heading"><%=panel_title%></div>
		<div class="panel-body"></div>
	</div>
</div>