<ul class="pager">
	<li class="previous"><a href="#"><span aria-hidden="true">&larr;</span> <%=previous_title%></a></li>
	<li class="next"><a href="#"><%=next_title%> <span aria-hidden="true">&rarr;</span></a></li>
</ul>